.featureHeading {
    line-height: 3rem;
}
.featureText {
    font-size: 25px;
    line-height: 3rem;
    margin: 40px 0px;
}

.featureButtons {
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #262626;
    font-weight: 00;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.featureButtons:hover {
    background-color: #262626;
    border: 2px solid #fff;
    color: #fff;
}
.featureBox {
    display: flex;
    color: #fff;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
.featureBoxSec {
    display: flex;
    color: #fff;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
.featureContext {
    background-color: #262626;
    border-radius: 30px;
    margin: 0px 20px 40px 20px;
    word-spacing: 2px;
}
@media screen and (max-width: 780px) {
    .featureBox {
     flex-direction: column;
    }
    .featureBoxSec {
     flex-direction: column-reverse;
    }
    .featureBox img{
        width: 300px;
        height: 300px;
    }
    .featureBoxSec img{
        width: 300px;
        height: 300px;
    }
  }