*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karla,sans-serif;
}
.navbar {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 75%
  );
  position: relative;
  z-index: 10;
  width: 100%;
  color: white;
  padding: 1rem 0;
  margin-bottom: 40px;
}

.navbar.open {
  background-color: #15181e;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.logo {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links > li {
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffb441;
}

.nav-button {
  padding: 10px 20px;
  background-color: #ffb441;
  border-radius: 20px;
  color: #0d0d0d;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #ffb441;
  transition: background-color 0.3s ease;
  text-decoration: none;

}

.nav-button:hover {
  background-color: transparent;
  border: 2px solid #ffb441;
  color: #ffb441;
}

.nav-login-btn {
  text-decoration: none;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}
.nav-login-btn:hover {
  background-color: #0d0d0d;
  color: #ffb441;
 border: 2px solid #0d0d0d;
  
}

.nav-button.open {
  background-color: #0d0d0d;
  border: 2px solid #ffb441;
  color: #ffb441;
}

.nav-login-btn.open {
  display: list-item;
}


.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ffb441;
  margin: 2px 0;
}
.cross-mark {
  color: #ffb441;
}

@media screen and (max-width: 990px) {
  .nav-login-btn {
   display: none;
  }
  .navbar-content {
    flex-direction: row;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #15181e;
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    text-align: start;
    z-index: 1;
    padding-left: 20px;
    height: 100vh;
  }

  .nav-links.open {
    display: flex;
    align-items: start;
  }
  

  .nav-links li {
    margin: 10px 0;
  }
  .nav-links li a:hover {
    color: blue;
  }

  .nav-toggle {
    display: flex;
    width: 20px;
  }

  .navbar.open {
    position: fixed;
    width: 100%;
  }
}
