.main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/bg.jpg);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 110px 30px;
  position: relative;
  bottom: 119px;
  font-family: Karla,sans-serif;
}

.heading {
  font-size: 50px;
  line-height: 4rem;
}

.text {
  font-size: 25px;
  line-height: 2rem;
  margin: 40px 0px;
}
.mainButton {
  padding: 10px 20px;
  background-color: #0d0d0d;
  border: 2px solid #0d0d0d;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mainButton:hover {
  color: #ffb441;
  border: 2px solid #1a1a1a;
}
.buttunsContainer {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 490px) {
  .buttunsContainer {
   flex-direction: column;
  }
}